.android-ics .dwv {
    border-bottom: 2px solid #ef3b63;
    color: #ef3b63;
}

.android-ics .dw {
    color: #ef3b63;
}

.android-ics .dw .dwwol {
    border-bottom: 2px solid #ef3b63;
    border-top: 2px solid #ef3b63;
}